.techfont {
  font-family: 'Kreon', 'Open Sans';
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand {
  font-size: 1.5em;
}

.centerstage {
  margin-left: auto;
  margin-right: auto;
}

.postdate {
  text-align: center;
}

.posttitle {
  text-align: center;
  font-family: 'Kreon', 'Open Sans';
  font-size: 3em;
}

.postcontent {
  font-size: 1.53em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-comment {
  position: absolute;
  right: 0px;
}
